p.large{font-family: verdana;font-size: 13pt;color: #313131;}
p.normal{font-family: verdana;font-size: 11pt;color: #000000;}
p.small{font-family: verdana;font-size: 9pt;color: #000000;}
/*===============BODY COLOR===============*/
body {background-image: url("https://cloud.githubusercontent.com/assets/13433513/11059390/ad2527c6-8799-11e5-9019-2e6b0c32ec66.jpg");}
/*===============HTML5 LAYOUT===============*/
header {text-align:center;padding:5px; }
section {
    background-color:#F0DEB3;
    width:60%;
    float:left;
    padding:6px;
    padding-top:6px;
    overflow:auto;
    }
section.left {
    background-color:#EBD8AB;
    width:30%;
    float:left;
    padding:3px;
    overflow:auto;
    margin-right:10px;
    }
/*===============PLAATJES===============*/
img.logo{
  width:175px;
  height:105px;
}
/*===============M=================*/
td.micon{
  width:64px;
  height:64px;
  text-align:right;
  }
img.micon{
  max-width:64px;
  max-height:64px;
  }
td.mtext{
  width:128px;
  height:64px;
  text-align:right;
  }
a.mtext{
  font-family:verdana;
  font-size:20pt;
  font-decoration:none;'
  color:#000000;
  }
