p.large{font-family: verdana;font-size: 13pt;color: #313131;}
p.normal{font-family: verdana;font-size: 11pt;color: #000000;}
p.small{font-family: verdana;font-size: 9pt;color: #000000;}

list{
  margin:3%;
  padding:2%;
  float:left;
  width:25%;
  height:100px;
  }
main{
  margin:3%;
  padding:2%;
  float:left;
  width:65%;
  height:100px;
  }
